<nav>
  <select class="form-control" (change) = "pageSelected($event)" [value] = "currentPage">
    <option *ngFor = "let page of pagesList; let i = index" [value]="i"> 
      {{ page.title }}
    </option> 
    <option value="-1"> 
      Add New Page
    </option> 
  </select>
  <button class="btn" (click) = "carouselLeft()"><i class="fas fa-chevron-left"></i></button>
  <div class="carousel-container">
      <ul class="carousel">
        <li class="page"  *ngFor = " let page of pagesList; let i = index" [ngClass] = "{ 'active': currentPage === i, 'carouselHead': carouselHead == i }"  (click) = "changePage(i)">
          {{ page.title }}
        </li>
      </ul>
  </div>
  <button class="btn"  (click) = "carouselRight()"><i class="fas fa-chevron-right"></i></button>
  <button class="addBtn" (click) = "addPage()">Add New Page</button>
 
</nav>
