<header>
  <select class="form-group" (change) = "pageSelected($event)" [value] = "currentPage">
    <option *ngFor = "let page of pagesList; let i = index" [value]="i"> 
      {{ page.title }}
    </option> 
    <option value="-1"> 
      Add New Page
    </option> 
  </select>
  <ul>
    <li *ngFor = " let page of pagesList; let i = index" [ngClass] = "{ 'active-page': currentPage === i }" (click) = "changePage(i)">
      <span class="list-page">
        {{ page.title }}
      </span>
    </li>
    <li (click) = "addPage()">
      <span class="list-page">
        Add New Page
      </span>
    </li>
  </ul>
</header>