<div [formGroup] = "form"  class="form-group">
    <app-editable-input [form] = "form" [controlName] = "question.title" 
    placeholder = "Input page title here" fontSize = "14"></app-editable-input>
    <!-- <label *ngIf= "!question.hideInfo" [attr.for]="question.key"> <span>{{serialNo + 1}}.</span> {{ question.title }} <span *ngIf="question.required">*</span></label> -->
    <!-- <p *ngIf= "!question.hideInfo">{{ question.description}}</p> -->
    <div [ngSwitch]="question.controlType">
        <input class="form-control"  *ngSwitchCase="'textbox'" type="text" [formControlName] = "question.key">
        <input class="form-control" *ngSwitchCase="'checkbox'" type="checkbox" [formControlName] = "question.key">
        <textarea class="form-control" *ngSwitchCase="'textarea'" [formControlName] = "question.key" cols="question.cols" rows="question.rows"></textarea>
        <div *ngSwitchCase = "'radio'">
            <input *ngFor = "let option of question.options" class="form-control" type="radio" [formControlName] = "question.key" [value]="option.value">
        </div>
        <select class="form-control" *ngSwitchCase="'dropdown'" [formControlName] = "question.key">
          <option *ngFor = "let option of question.options" value="option.value">{{ option.label }}</option>
        </select>
        <!-- <p *ngIf= "!question.hideInfo">{{ question.note }}</p> -->
    </div>
</div> 
    
        <!-- <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div> -->
      