form{
    background-color: white;
    padding: 10px;
}

.question-container{
    /* border: 1px solid grey; */
    /* margin: 10px; */
    padding: 10px
}

.question-container:nth-of-type(even){
    /* border: 1px solid grey; */
    background-color: #f4f4f4;
}

form :hover .tool-bar{
    visibility: visible;
}

.tool-bar{
    display: flex;
    visibility: hidden;
    list-style: none;
    justify-content: flex-end;
}

.tool-bar li{
    padding: 0 10px;
    color: #1ab394;
}

.red{
    color: red;
}

.green{
    color: 1ab394;
}

.not-filled{
    color: grey;
}

.selected-ques{
    border: 1px dotted #1ab394;
}

