<form [formGroup] = "form">
  <h5 class="not-filled">Enter page Title here<i class="fas fa-pencil-alt green"></i></h5>
  <p class="not-filled">Enter a page Description<i class="fas fa-pencil-alt green"></i></p>
  <div *ngFor = "let question of page.questions; let i = index" class="question-container">
    <ul class="tool-bar">
      <li><i class="fas fa-times"></i></li>
      <li><i class="far fa-eye"></i></li>
      <li><i class="fas fa-exclamation"></i></li>
      <li><i class="fas fa-copy"></i></li>
      <li><i class="fas fa-pencil-alt"></i>Properties</li>
    </ul>
    <app-form-question [question] = "question" [form] = "form" [serialNo] = "i"></app-form-question>
  </div>
</form>